In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
from IPython.display import HTML, display

In [6]:
data=pd.read_csv('IRIS.csv')

In [7]:
display(data.head())
display(data.describe())
display(data.info())

   ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0   1           5.1          3.5           1.4          0.2  setosa
1   2           4.9          3.0           1.4          0.2  setosa
2   3           4.7          3.2           1.3          0.2  setosa
3   4           4.6          3.1           1.5          0.2  setosa
4   5           5.0          3.6           1.4          0.2  setosa

               ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

None

Here we can see that the last col i.e. species is of categorical value, we will perform different types of encoding techniques on it only

Ordinal Encoding: 
- Assiging integers based on their order from 1

In [8]:
#using scikit-learn
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()
ordinal=data.copy()
# Apply ordinal encoding to the 'Species' column
ordinal[['Species']] = encoder.fit_transform(data[['Species']])
ordinal.sample(10)

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
117  118           7.7          3.8           6.7          2.2      2.0
52    53           6.9          3.1           4.9          1.5      1.0
68    69           6.2          2.2           4.5          1.5      1.0
81    82           5.5          2.4           3.7          1.0      1.0
126  127           6.2          2.8           4.8          1.8      2.0
116  117           6.5          3.0           5.5          1.8      2.0
9     10           4.9          3.1           1.5          0.1      0.0
13    14           4.3          3.0           1.1          0.1      0.0
141  142           6.9          3.1           5.1          2.3      2.0
27    28           5.2          3.5           1.5          0.2      0.0

Label Encoding
- Assigns integer value from 0

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
label=data.copy()
label['Species']=encoder.fit_transform(data['Species'])
label.sample(10)

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
38    39           4.4          3.0           1.3          0.2        0
42    43           4.4          3.2           1.3          0.2        0
75    76           6.6          3.0           4.4          1.4        1
81    82           5.5          2.4           3.7          1.0        1
113  114           5.7          2.5           5.0          2.0        2
35    36           5.0          3.2           1.2          0.2        0
80    81           5.5          2.4           3.8          1.1        1
62    63           6.0          2.2           4.0          1.0        1
4      5           5.0          3.6           1.4          0.2        0
83    84           6.0          2.7           5.1          1.6        1

One Hot encoding
- Creates a new col and input a binary string value (true or false)

In [10]:
#using numpy 
encoder=pd.get_dummies(data['Species'],prefix='flower')
onehot=pd.concat([data,encoder],axis=1)
onehot.sample(10)

,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,flower_setosa,flower_versicolor,flower_virginica
82,83,5.8,2.7,3.9,1.2,versicolor,False,True,False
114,115,5.8,2.8,5.1,2.4,virginica,False,False,True
90,91,5.5,2.6,4.4,1.2,versicolor,False,True,False
108,109,6.7,2.5,5.8,1.8,virginica,False,False,True
94,95,5.6,2.7,4.2,1.3,versicolor,False,True,False
142,143,5.8,2.7,5.1,1.9,virginica,False,False,True
56,57,6.3,3.3,4.7,1.6,versicolor,False,True,False
123,124,6.3,2.7,4.9,1.8,virginica,False,False,True
33,34,5.5,4.2,1.4,0.2,setosa,True,False,False
131,132,7.9,3.8,6.4,2.0,virginica,False,False,True

Binary encoding
- converts inegers into bool , then creates binary col
- more memory efficient then one-hot

Note: its bool values so 
- 00=0 
- 01=1 
- 10=2

In [11]:
from category_encoders import BinaryEncoder
encoder=BinaryEncoder(cols=['Species'])
binary=encoder.fit_transform(data)
binary.sample(10)

,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_0,Species_1
91,92,6.1,3.0,4.6,1.4,1,0
127,128,6.1,3.0,4.9,1.8,1,1
89,90,5.5,2.5,4.0,1.3,1,0
134,135,6.1,2.6,5.6,1.4,1,1
84,85,5.4,3.0,4.5,1.5,1,0
116,117,6.5,3.0,5.5,1.8,1,1
60,61,5.0,2.0,3.5,1.0,1,0
132,133,6.4,2.8,5.6,2.2,1,1
59,60,5.2,2.7,3.9,1.4,1,0
26,27,5.0,3.4,1.6,0.4,0,1

Target Encoding(Mean Encoding)
- first groups all the same unique values in the encoding fature i.e. 3
- finds the different mean of the grp and assigns that instaed of the name here

In [12]:
from category_encoders import TargetEncoder
y=np.array(data['Petal.Width'])
encoder=TargetEncoder(cols=['Species'])
target=encoder.fit_transform(data,y)
target.sample(10)

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width   Species
59    60           5.2          2.7           3.9          1.4  1.319993
45    46           4.8          3.0           1.4          0.3  0.291213
49    50           5.0          3.3           1.4          0.2  0.291213
134  135           6.1          2.6           5.6          1.4  1.986795
7      8           5.0          3.4           1.5          0.2  0.291213
75    76           6.6          3.0           4.4          1.4  1.319993
81    82           5.5          2.4           3.7          1.0  1.319993
148  149           6.2          3.4           5.4          2.3  1.986795
109  110           7.2          3.6           6.1          2.5  1.986795
85    86           6.0          3.4           4.5          1.6  1.319993

Frequency Encoding
- replaces categories with their frequency in the dataset
- applying normalisation to return proportion instead of count

In [13]:
freq=data.copy()
feq_map=freq['Species'].value_counts(normalize=True).to_dict()
freq['freqency']=freq['Species'].map(feq_map)
freq.sample(10)

,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,freqency
51,52,6.4,3.2,4.5,1.5,versicolor,0.333333
30,31,4.8,3.1,1.6,0.2,setosa,0.333333
44,45,5.1,3.8,1.9,0.4,setosa,0.333333
14,15,5.8,4.0,1.2,0.2,setosa,0.333333
5,6,5.4,3.9,1.7,0.4,setosa,0.333333
65,66,6.7,3.1,4.4,1.4,versicolor,0.333333
3,4,4.6,3.1,1.5,0.2,setosa,0.333333
53,54,5.5,2.3,4.0,1.3,versicolor,0.333333
104,105,6.5,3.0,5.8,2.2,virginica,0.333333
130,131,7.4,2.8,6.1,1.9,virginica,0.333333

Weight of Evidence (WOE) Encoding
- Uses log odds ratio of target variable , common in credit scorring

tbh idk how this one works fr , i just coppied this shit up so your guess is as good as mine

In [14]:
from category_encoders import WOEEncoder
# Convert the target column 'Petal.Width' into a binary target
# For example, classify as 0 if Petal.Width <= 1.0, else 1
binary_target = (data['Petal.Width'] > 1.0).astype(int)

# Apply WOEEncoder with the binary target
encoder = WOEEncoder(cols=['Species'])
woe = encoder.fit_transform(data, binary_target)
woe.sample(10)

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width   Species
32    33           5.2          4.1           1.5          0.1 -4.408165
101  102           5.8          2.7           5.1          1.9  3.455486
56    57           6.3          3.3           4.7          1.6  1.228409
92    93           5.8          2.6           4.0          1.2  1.228409
60    61           5.0          2.0           3.5          1.0  1.228409
132  133           6.4          2.8           5.6          2.2  3.455486
95    96           5.7          3.0           4.2          1.2  1.228409
41    42           4.5          2.3           1.3          0.3 -4.408165
49    50           5.0          3.3           1.4          0.2 -4.408165
113  114           5.7          2.5           5.0          2.0  3.455486

Hash Encoding
- applies hash function to categories , creating a fixed number of features
- n_component = 1.5/2 times the unique values in the target feature
- weird if used only with 3 distinct features

In [15]:
from category_encoders import HashingEncoder
encoder=HashingEncoder(cols=['Species'],n_components=6)
hash=encoder.fit_transform(data)
hash.sample(10)

,col_0,col_1,col_2,col_3,col_4,col_5,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width
88,0,1,0,0,0,0,89,5.6,3.0,4.1,1.3
146,0,1,0,0,0,0,147,6.3,2.5,5.0,1.9
107,0,1,0,0,0,0,108,7.3,2.9,6.3,1.8
8,0,0,0,0,1,0,9,4.4,2.9,1.4,0.2
139,0,1,0,0,0,0,140,6.9,3.1,5.4,2.1
5,0,0,0,0,1,0,6,5.4,3.9,1.7,0.4
130,0,1,0,0,0,0,131,7.4,2.8,6.1,1.9
124,0,1,0,0,0,0,125,6.7,3.3,5.7,2.1
44,0,0,0,0,1,0,45,5.1,3.8,1.9,0.4
137,0,1,0,0,0,0,138,6.4,3.1,5.5,1.8

Leave One out Encoding
- varient of target encoding that prevents overfitting
- different from mean encoder as it does not look at the current row its working on

In [16]:
from category_encoders import LeaveOneOutEncoder
encoder=LeaveOneOutEncoder(cols=['Species'])
leaveoneout=encoder.fit_transform(data,data['Petal.Width'])
leaveoneout.sample(10)

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width   Species
23    24           5.1          3.3           1.7          0.5  0.240816
33    34           5.5          4.2           1.4          0.2  0.246939
105  106           7.6          3.0           6.6          2.1  2.024490
80    81           5.5          2.4           3.8          1.1  1.330612
44    45           5.1          3.8           1.9          0.4  0.242857
7      8           5.0          3.4           1.5          0.2  0.246939
101  102           5.8          2.7           5.1          1.9  2.028571
132  133           6.4          2.8           5.6          2.2  2.022449
4      5           5.0          3.6           1.4          0.2  0.246939
65    66           6.7          3.1           4.4          1.4  1.324490

Grouping based on Frequency

In [29]:
def frequency_based_grouping(data, column, threshold=0.05):

    value_counts = data[column].value_counts(normalize=True)
    mapping = {}
    for category, freq in value_counts.items():
        if freq < threshold:
            mapping[category] = 'Other'
        else:
            mapping[category] = category
    
    # Apply mapping
    data[f"{column}_grouped"] = data[column].map(mapping)
    return data
data=frequency_based_grouping(data,'Species')
display(data.sample(10))

,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Species_grouped
98,99,5.1,2.5,3.0,1.1,versicolor,versicolor
93,94,5.0,2.3,3.3,1.0,versicolor,versicolor
24,25,4.8,3.4,1.9,0.2,setosa,setosa
36,37,5.5,3.5,1.3,0.2,setosa,setosa
56,57,6.3,3.3,4.7,1.6,versicolor,versicolor
83,84,6.0,2.7,5.1,1.6,versicolor,versicolor
29,30,4.7,3.2,1.6,0.2,setosa,setosa
34,35,4.9,3.1,1.5,0.2,setosa,setosa
132,133,6.4,2.8,5.6,2.2,virginica,virginica
119,120,6.0,2.2,5.0,1.5,virginica,virginica